{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
<localization-form>
  {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
  <div class="no-js-hidden">
    <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
    <div class="disclosure">
      <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
        {{ localization.language.endonym_name | capitalize }}
        {% render 'icon-caret' %}
      </button>
      <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
        {%- for language in localization.available_languages -%}
        <li class="disclosure__item" tabindex="-1">
          <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
            {{ language.endonym_name | capitalize }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
  </div>
  {%- endform -%}
</localization-form>
{%- endif -%}