{% comment %}
    Renders a newsletter box

    Usage:
    {% render 'newsletter' %}
{% endcomment %}

<div class="newsletter">
  <h3>{{ section.settings.newsletter_heading | escape }}</h3>

  {%- form 'customer', id: 'ContactFooter' -%}
  <input type="hidden" name="contact[tags]" value="newsletter"/>
  <div class="field">
    <input id="NewsletterForm--{{ section.id }}"
           type="email"
           name="contact[email]"
           class="field__input"
           value="{{ form.email }}"
           aria-required="true"
           autocorrect="off"
           autocapitalize="off"
           autocomplete="email"
           placeholder="{{ 'newsletter.label' | t }}"
           required
           {% if form.errors %}
           autofocus
           aria-invalid="true"
           aria-describedby="ContactFooter-error"
           {% elsif form.posted_successfully? %}
           aria-describedby="ContactFooter-success"
           {% endif %}
           />
      <label for="NewsletterForm--{{ section.id }}">
        {{ 'newsletter.label' | t }}
      </label>
      <button type="submit" name="commit" id="Subscribe">
        <span>{{ 'newsletter.label' | t }}</span>
      </button>

    {%- if form.errors -%}
    <small class="newsletter-form__message form__message" id="ContactFooter-error">
      {% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
    </small>
    {%- endif -%}
  </div>
  
  {%- if form.posted_successfully? -%}
  <h3>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
  {%- endif -%}
  {%- endform -%}
</div>