{% comment %}
    Renders a product card

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="card-wrapper">
  <div class="card-information">
    {%- if show_vendor -%}
    <div class="vendor">{{ product_card_product.vendor }}</div>
    {%- endif -%}

    {%- if product_card_product.featured_media -%}
    <h3>
      <a href="{{ product_card_product.url | default: '#' }}">
        {{ product_card_product.title | escape }}
      </a>
    </h3>
    {%- endif -%}

    {%- if show_rating -%}
    {% render 'product-rating', product: product_card_product %}
    {%- endif -%}

    {% render 'price', product: product_card_product, price_class: '' %}
  </div>

  <div class="card-product">
    <div class="image">
      {%- if product_card_product.featured_media -%}
      {%- liquid
        assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio
        if product_card_product.featured_media.aspect_ratio == nil
          assign featured_media_aspect_ratio = 1
        endif
      -%}
        <img
             sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, 
                    (min-width: 990px) calc((100vw - 130px) / 4), 
                    (min-width: 750px) calc((100vw - 120px) / 3), 
                    calc((100vw - 35px) / 2)"
             srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                     {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                     {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                     {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                     {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                     {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                     {{ product_card_product.featured_media | img_url: 'master' }} {{ product_card_product.featured_media.width }}w"
             src="{{ product_card_product.featured_media | img_url: '533x' }}"
             alt="{{ product_card_product.featured_media.alt | escape }}"
             loading="lazy"
             width="{{ product_card_product.featured_media.width }}"
             height="{{ product_card_product.featured_media.height }}"
             >
      {%- else -%}
      {%- endif -%}
    </div>

    <div class="card__badge">
      {%- if product_card_product.available == false -%}
      <span>{{ 'products.product.sold_out' | t }}</span>
      {%- elsif product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
      <span>{{ 'products.product.on_sale' | t }}</span>
      {%- endif -%}
    </div>
  </div>
</div>
