{% comment %}
    Renders a product card

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="card-wrapper">
  <div class="card-product">
    <div class="image">
      {%- liquid
        assign featured_media_aspect_ratio = product.featured_media.aspect_ratio
        if product.featured_media.aspect_ratio == nil
          assign featured_media_aspect_ratio = 1
        endif
      -%}
      <img
           sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, 
                  (min-width: 990px) calc((100vw - 130px) / 4), 
                  (min-width: 750px) calc((100vw - 120px) / 3), 
                  calc((100vw - 35px) / 2)"
           srcset="{%- if products.featured_media.width >= 165 -%}{{ products.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                   {%- if products.featured_media.width >= 360 -%}{{ products.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                   {%- if products.featured_media.width >= 533 -%}{{ products.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                   {%- if products.featured_media.width >= 720 -%}{{ products.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                   {%- if products.featured_media.width >= 940 -%}{{ products.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                   {%- if products.featured_media.width >= 1066 -%}{{ products.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                   {{ product.featured_media | img_url: 'master' }} {{ product.featured_media.width }}w"
           src="{{ product.featured_media | img_url: '533x' }}"
           alt="{{ product.featured_media.alt | escape }}"
           loading="lazy"
           width="{{ product.featured_media.width }}"
           height="{{ product.featured_media.height }}"
           >
    </div>

    <div class="info">
      {%- if show_vendor -%}
      <div class="vendor">{{ product.vendor }}</div>
      {%- endif -%}

      <div class="product-name">
        <a href="{{ products.url | default: '#' }}">
          {{ products.title | escape }}
        </a>
      </div>

      {%- if show_rating -%}
      {% render 'product-rating', product: product %}
      {%- endif -%}

      {% render 'price', product: product, price_class: '' %}

      <div class="on-sale">
        {%- if product.available == false -%}
        <span>{{ 'products.product.sold_out' | t }}</span>
        {%- elsif products.compare_at_price > products.price and product.available -%}
        <span>{{ 'products.product.on_sale' | t }}</span>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
