<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% render 'meta-tags' %}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <link rel="canonical" href="{{ canonical_url }}"/>

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin/>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin/>

    <link rel="stylesheet" type="text/css" href="{{ 'style.css' | asset_url }}"
          media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ 'style-tablet.css' | asset_url }}"
          media="screen and (max-width: {{ settings.theme.tablet_width | append: 'px' }})"/>
    <link rel="stylesheet" type="text/css" href="{{ 'style-mobile.css' | asset_url }}"
          media="screen and (max-width: {{ settings.theme.mobile_width | append: 'px' }})"/>

    {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.theme.favicon | img_url: '32x32' }}"/>
    {%- endif -%}

    <script src="{{ 'require.js' | asset_url }}"></script>
    <script>
        require.config({
            baseUrl: '{{ '' | asset_url }}',
            waitSeconds: 0
        });
    </script>

    {{ content_for_header }}
</head>

<body>

{% section 'header' %}

<main>
    {{ content_for_layout }}
</main>

{% section 'footer' %}

</body>
</html>
