<div class="banner">
  {% for block in section.blocks %}
    <div class="item">
      <div class="image">
        <img srcset="{%- if section.blocks.item.image.width >= 375 -%}{{ section.blocks.item.image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 750 -%}{{ section.blocks.item.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 1100 -%}{{ section.blocks.item.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 1500 -%}{{ section.blocks.item.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 1780 -%}{{ section.blocks.item.image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 2000 -%}{{ section.blocks.item.image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 3000 -%}{{ section.blocks.item.image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.blocks.item.image.width >= 3840 -%}{{ section.blocks.item.image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.blocks.item.image | img_url: 'master' }} {{ section.blocks.item.image.width }}w"
            sizes="(min-width: 750px) 50vw, 100vw"
            src="{{ section.blocks.item.image | img_url: '1500x' }}"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
          />
      </div>
      <div class="title">
        {{ block.settings.title }}
      </div>
      <div class="content">
        {{ block.settings.content }}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.banners.name",
  "tag": "section",
  "class": "banners",
  "blocks": [
    {
      "type": "item",
      "name": "t:sections.banners.blocks.item.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.banners.blocks.item.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.banners.blocks.item.settings.title.label"
        },
        {
          "type": "html",
          "id": "content",
          "label": "t:sections.banners.blocks.item.settings.content.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.banners.blocks.item.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
